/* Write your CSS here */
.bg-container {
  background: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #fff;
  border-radius: 20px;
  height: 80%;
  max-height: 90%;
  width: 30%;
  text-align: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 38px;
  padding-top: 30px;
  color: #a35200;
}
.para {
  font-family: 'Roboto';
  font-size: 18px;
  color: #334155;
  font-weight: bold;
}
.image {
  height: 150px;
  width: 150px;
}
.button {
  border-radius: 7px;
  height: 28px;
  width: 80px;
  margin-top: 20px;
  border-style: none;
  background-color: #f9d423;
  color: #a35200;
  font-family: 'Roboto';
  font-weight: 500;
}
.count-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.count {
  font-family: 'Roboto';
  font-weight: 500;
  color: #475569;
}
